Applications/
.bash_history
.cache/
.CFUserTextEncoding
.config/
.cups/
Desktop/
Documents/
Downloads/
.DS_Store
.gnupg/
.ICEauthority
.idlerc/
.landscape/
.lesshst
Library/
.local/
.motd_shown
Movies/
.mozilla/
Music/
.openshot_qt/
Pictures/
proj/
Public/
.python_history
.repoconfig/
.repo_.gitconfig.json
.ssh/
.sudo_as_admin_successful
temp/
tmux-client*
Videos/
.viminfo
.vim/.netrwhist
.Xauthority
.zsh_history
.zsh_sessions/
