.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.cache/
.cups/
.landscape/
.lesshst
.motd_shown
.python_history
.ssh/
.sudo_as_admin_successful
.viminfo
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
proj/
temp/
tmux-client*
