.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.cache/
.cups/
.lesshst
.python_history
.ssh/
.viminfo
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
proj/
temp/
